pandas
numpy
matplotlib
seaborn
scikit-learn
dill
xgboost
Flask
setuptools
tensorflow
scikeras
ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
bs4
statsmodels
plotly
nbformat
jupyter
xgboost
kneed
tensorflow
tensorboard
scikeras
PyPDF2
spacy
-e .